In [1]:
from selenium import webdriver
import pandas as pd

In [2]:
driver = webdriver.Chrome('C:\Program Files (x86)\chromedriver.exe')

driver.get('https://finance.yahoo.com/quote/BTC-EUR/history/?guccounter=2')
driver.maximize_window()

In [4]:
dates = driver.find_elements_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[1]/span')
closes = driver.find_elements_by_xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[5]/span')

eur_btc_rates = []

for i in range(len(dates))[:10]:
    new_Data={'Date': dates[i].text,
              'BTC Closing Value': closes[i].text}
    eur_btc_rates.append(new_Data)

df_data=pd.DataFrame(eur_btc_rates)
df_data

           Date BTC Closing Value
0  Sep 16, 2021         40,449.61
1  Sep 15, 2021         40,762.15
2  Sep 14, 2021         39,900.29
3  Sep 13, 2021         38,073.34
4  Sep 12, 2021         38,997.03
5  Sep 11, 2021         38,258.65
6  Sep 10, 2021         38,002.76
7  Sep 09, 2021         39,233.23
8  Sep 08, 2021         38,997.88
9  Sep 07, 2021         39,521.42

In [6]:
df_data.to_excel('eur_btc_rates.csv.xlsx', index=False)